*.pyc
venv
ligand.pdbqt
*.dlg
*pdbqt.gz
mgltools*

# blocking for now
docking/mglmin

# numpy==1.8 required for mgltools
numpy/*

stdout.txt
stderr.txt

# temporary work artifacts
# FIXME - these should be done in temp folders anyways
receptors/*/*.fld
receptors/*/*.xyz
receptors/*/*.dlg
receptors/*/initpop.txt
receptors/*/autogrid.log
receptors/*/pose*

# pycharm IDE
.idea
stuff/
